src/main/java/com/sinoair/iemisgateway/util/iemisWSClient/common/CommonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://webService.service.operation.iemis.sinoair.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webService.service.operation.iemis.sinoair.com">
    <wsdl:documentation>CommonService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webService.service.operation.iemis.sinoair.com">
            <xs:element name="execute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="executeRequest">
        <wsdl:part name="parameters" element="ns:execute"/>
    </wsdl:message>
    <wsdl:message name="executeResponse">
        <wsdl:part name="parameters" element="ns:executeResponse"/>
    </wsdl:message>
    <wsdl:portType name="CommonServicePortType">
        <wsdl:operation name="execute">
            <wsdl:input message="ns:executeRequest" wsaw:Action="urn:execute"/>
            <wsdl:output message="ns:executeResponse" wsaw:Action="urn:executeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CommonServiceSoap11Binding" type="ns:CommonServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="execute">
            <soap:operation soapAction="urn:execute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CommonServiceSoap12Binding" type="ns:CommonServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="execute">
            <soap12:operation soapAction="urn:execute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CommonServiceHttpBinding" type="ns:CommonServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="execute">
            <http:operation location="execute"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CommonService">
        <wsdl:port name="CommonServiceHttpSoap11Endpoint" binding="ns:CommonServiceSoap11Binding">
            <soap:address location="http://172.17.0.229:7001/services/CommonService.CommonServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CommonServiceHttpSoap12Endpoint" binding="ns:CommonServiceSoap12Binding">
            <soap12:address location="http://172.17.0.229:7001/services/CommonService.CommonServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CommonServiceHttpEndpoint" binding="ns:CommonServiceHttpBinding">
            <http:address location="http://172.17.0.229:7001/services/CommonService.CommonServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
