src/main/java/com/sinoair/iemisgateway/util/iemisWSClient/uploadOrder/UploadOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://webService.service.operation.iemis.sinoair.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webService.service.operation.iemis.sinoair.com">
    <wsdl:documentation>UploadOrderService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webService.service.operation.iemis.sinoair.com">
            <xs:element name="uploadOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadOrderRequest">
        <wsdl:part name="parameters" element="ns:uploadOrder"/>
    </wsdl:message>
    <wsdl:message name="uploadOrderResponse">
        <wsdl:part name="parameters" element="ns:uploadOrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="UploadOrderServicePortType">
        <wsdl:operation name="uploadOrder">
            <wsdl:input message="ns:uploadOrderRequest" wsaw:Action="urn:uploadOrder"/>
            <wsdl:output message="ns:uploadOrderResponse" wsaw:Action="urn:uploadOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UploadOrderServiceSoap11Binding" type="ns:UploadOrderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadOrder">
            <soap:operation soapAction="urn:uploadOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UploadOrderServiceSoap12Binding" type="ns:UploadOrderServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadOrder">
            <soap12:operation soapAction="urn:uploadOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UploadOrderServiceHttpBinding" type="ns:UploadOrderServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="uploadOrder">
            <http:operation location="uploadOrder"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UploadOrderService">
        <wsdl:port name="UploadOrderServiceHttpSoap11Endpoint" binding="ns:UploadOrderServiceSoap11Binding">
            <soap:address location="http://172.17.0.229:7001/services/UploadOrderService.UploadOrderServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UploadOrderServiceHttpSoap12Endpoint" binding="ns:UploadOrderServiceSoap12Binding">
            <soap12:address location="http://172.17.0.229:7001/services/UploadOrderService.UploadOrderServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UploadOrderServiceHttpEndpoint" binding="ns:UploadOrderServiceHttpBinding">
            <http:address location="http://172.17.0.229:7001/services/UploadOrderService.UploadOrderServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>