src/main/java/com/sinoair/iemisgateway/util/iemisWSClient/updateOrder/UpdateOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://webService.service.operation.iemis.sinoair.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webService.service.operation.iemis.sinoair.com">
    <wsdl:documentation>UpdateOrderService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webService.service.operation.iemis.sinoair.com">
            <xs:element name="updateOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateOrderRequest">
        <wsdl:part name="parameters" element="ns:updateOrder"/>
    </wsdl:message>
    <wsdl:message name="updateOrderResponse">
        <wsdl:part name="parameters" element="ns:updateOrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="UpdateOrderServicePortType">
        <wsdl:operation name="updateOrder">
            <wsdl:input message="ns:updateOrderRequest" wsaw:Action="urn:updateOrder"/>
            <wsdl:output message="ns:updateOrderResponse" wsaw:Action="urn:updateOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpdateOrderServiceSoap11Binding" type="ns:UpdateOrderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateOrder">
            <soap:operation soapAction="urn:updateOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UpdateOrderServiceSoap12Binding" type="ns:UpdateOrderServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateOrder">
            <soap12:operation soapAction="urn:updateOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UpdateOrderServiceHttpBinding" type="ns:UpdateOrderServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateOrder">
            <http:operation location="updateOrder"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpdateOrderService">
        <wsdl:port name="UpdateOrderServiceHttpSoap11Endpoint" binding="ns:UpdateOrderServiceSoap11Binding">
            <soap:address location="http://172.17.0.229:7001/services/UpdateOrderService.UpdateOrderServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UpdateOrderServiceHttpSoap12Endpoint" binding="ns:UpdateOrderServiceSoap12Binding">
            <soap12:address location="http://172.17.0.229:7001/services/UpdateOrderService.UpdateOrderServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UpdateOrderServiceHttpEndpoint" binding="ns:UpdateOrderServiceHttpBinding">
            <http:address location="http://172.17.0.229:7001/services/UpdateOrderService.UpdateOrderServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>